In [3]:
# Step 1: Import libraries
import pandas as pd

In [4]:
# Step 2: Create a test DataFrame
data = pd.DataFrame({
    "Name": ['Ada', 'Grace', 'Marie', 'Rosalind'],
    "Field": ['Math', 'CS', 'Chemistry', 'Biology'],
    "Impact": [10, 20, 30, 40]
})
data

       Name      Field  Impact
0       Ada       Math      10
1     Grace         CS      20
2     Marie  Chemistry      30
3  Rosalind    Biology      40

In [5]:
data['Impact_Double'] = data['Impact'].apply(lambda x: x * 2)

In [6]:
data['Discipline'] = data['Field'].apply(
    lambda x: 'STEM' if x in ['Math', 'CS'] else 'Science')

In [7]:
data

       Name      Field  Impact  Impact_Double Discipline
0       Ada       Math      10             20       STEM
1     Grace         CS      20             40       STEM
2     Marie  Chemistry      30             60    Science
3  Rosalind    Biology      40             80    Science