In [2]:
# Step 1: Import libraries
import pandas as pd

In [3]:
# Step 2: Create a test DataFrame
data = pd.DataFrame({
    "Name": ['Ada', 'Grace', 'Marie', 'Rosalind'],
    "Field": ['Math', 'CS', 'Chemistry', 'Biology'],
    "Impact": [10, 20, 30, 40]
})
data

       Name      Field  Impact
0       Ada       Math      10
1     Grace         CS      20
2     Marie  Chemistry      30
3  Rosalind    Biology      40

In [4]:
data['Impact_Double'] = data['Impact'].apply(lambda x: x * 2)

In [5]:
data['Discipline'] = data['Field'].apply(
    lambda x: 'STEM' if x in ['Math', 'CS'] else 'Science')

In [6]:
data

       Name      Field  Impact  Impact_Double Discipline
0       Ada       Math      10             20       STEM
1     Grace         CS      20             40       STEM
2     Marie  Chemistry      30             60    Science
3  Rosalind    Biology      40             80    Science

In [9]:
 import requests
from bs4 import BeautifulSoup
import pandas as pd

## Step 1: Load the Wikipedia Page
# Use `requests.get()` to download the HTML content from the Wikipedia page.

url = "https://en.wikipedia.org/wiki/20th_century"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

## Step 2: Locate Main Content Section
# We isolate the `<div>` with class `mw-parser-output`, which holds the majority of Wikipedia article content.

content_div = soup.find("div", class_="mw-parser-output")

## Step 3: Extract and Clean Paragraphs
# We extract `<p>` and `<li>` elements and clean them with `.get_text(strip=True)`. We use regex to remove unwanted references like `[1]`, `[edit]`, etc., and filter out short or navigation-related content.

paragraphs = content_div.find_all(['p', 'li'])

## Step 4: Save Cleaned Events
# The cleaned event data is saved to `20th_century_cleaned_events.csv` for use in later NLP and visualization tasks.

event_texts = []
import re

for para in paragraphs:
    clean_text = para.get_text(strip=True)
    clean_text = re.sub(r'\[.*?\]', '', clean_text)  # Removes [1], [edit], etc.
    if len(clean_text) > 50 and not clean_text.lower().startswith("see also"):
        event_texts.append(clean_text)

df = pd.DataFrame(event_texts, columns=["event"])
df.to_csv("20th_century_cleaned_events.csv", index=False)

print("✅ Scraped and saved clean events.")

✅ Scraped and saved clean events.